@import "./fonts.css";
@import "./default.css";

@theme {
  --font-display: "Urbanist";
  --breakpoint-3xl: 1920px;
  --color-primary: #00a7f3;
}

html {
  font-family: var(--font-display);
}

body {
  background-color: #f7fafe;
  overflow-x: hidden;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.w-md-editor {
  height: 400px !important;
}

/* Icon button Size & spacing  */
.w-md-editor-toolbar li > button {
  height: 40px !important;
  font-size: 24px !important;
  color: #4a5568 !important;
  padding: 10px !important;
}

.w-md-editor-toolbar button:hover {
  color: #681db8 !important;
  background-color: #e9d4ff !important;
  border-radius: 6px;
}

.w-md-editor-toolbar button:focus {
  outline: none;
  color: #007a99 !important;
  background-color: #d074ff !important;
}

.input-box {
  @apply w-full flex justify-between gap-3 text-base text-black bg-gray-50/50 rounded px-4 py-3 mt-3 mb-4 border border-gray-100 outline-none focus-within:border-sky-300;
}

.btn-primary {
  @apply w-full flex items-center justify-center gap-3 text-sm font-semibold text-white bg-linear-to-r from-sky-500 to-cyan-400 p-[10px] rounded-md my-1 transition-all hover:scale-[1.01] hover:text-white cursor-pointer;
}

.btn-small {
  @apply flex items-center justify-center gap-3 bg-linear-to-r from-sky-500 to-cyan-400 text-sm font-semibold text-white px-7 py-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-sky-200;
}

.form-card {
  @apply bg-white rounded-xl shadow-xl shadow-gray-50 border border-gray-50/50;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
